@import url(./reset.css);
@import url(./layout.css);

body{
    font-family: Arial, Helvetica, sans-serif;
}
.project-section{
    padding: 50px;
    /* height: 100vh; */
    margin: 120px 0;
    background-color: rgb(239, 237, 237);
    box-shadow: 0px 1px 0px 1px rgb(144, 143, 143);
}

.works-heading a{
    display:block;
    text-align: center;
    padding-top: 20px;

font-size: 20px;
}


h1{
    text-align: center;
    font-size: 30px;
    padding: 30px 0;
}
ul{
    justify-content: center;
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

nav ul li a{
   text-transform: uppercase;
   color: black;
padding: 20px 0;
font-size: 14px;
display: inline-block;

}

.transform-box{
    width: 350px;
    height: 350px;
    position: relative;
    overflow: hidden;
  /* transition: all 1s; */
}
.frontBox{
    width: inherit;
    height: inherit;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    transition: all 2s;
}

.backBox{
    width: inherit;
    height: inherit;
    background-color: rgb(17, 17, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  border-radius: 5px;
  position: absolute;
  backface-visibility: hidden;
  transform: rotatey(-180deg);
  transition: all 2s;
}
.backBox h3{
    font-size: 22px;
    color: white;
   
}
.backBox p{
    color: white;
}
.backBox a i{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
  padding-top: 10px;
  font-size: 20px;
  cursor: pointer;
}
.transform-box:hover .frontBox{
    transform: rotatey(180deg);
    /* transform: scale(0.9); */
    transform: perspective(1000px);
}
.transform-box:hover .backBox{
transform: rotatey(0deg);
/* transform: scale(0.9); */
transform: perspective(1000px);
}