*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}
main{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
table{

    background-color: rgb(239, 255, 253);
    border-collapse: collapse;
margin-bottom: 20px;}
section{
    width: 70%;
}

td{
    border: 1px solid  rgb(150, 236, 226);
   width: 20%;
 padding: 10px;
 font-size: 20px;
 font-family: "Roboto", sans-serif;
}
.td{
    width: 80%;
}
p ,ul{
    border: 1px solid  rgb(159, 240, 230);
    background-color:rgb(239, 255, 253);
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 6px;
   list-style-type:square ;
   font-family: "Roboto", sans-serif;
   /* font-weight: 900; */
}
li{
    list-style-position: inside;
}
h1{
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}
h2,h3,h4 ,h5{
    font-size: 22px;
    font-family: "Roboto", sans-serif;
}
