*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul.menu{
  
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 3px -1px black;
    list-style: none;
    padding: 15px ;

}
.menu>li{
    width: 100px;
    background-color: violet;
    color: white;
    padding: 4px 10px;
    height: fit-content;
    position: relative;
}
.sub-menu{
    /* display: none; */
    padding: 20px;
    box-shadow: 0 0 2px -1px black;
    background-color: violet;
    width: 100px;
    position: absolute;
    opacity:0 ;
    transition: all .3s;
    top: 100px;
    visibility: hidden;
    /* left: 0; */
}

.menu>li:hover .sub-menu{
    opacity: 1;
    top: 30px;
    /* display: block; */
    visibility: visible;
}