@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
header{
    height: 60px;
    border-bottom: 2px solid rgb(164, 163, 163);
}
nav{
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
justify-content: center;
gap: 50px;
padding:  20px 0;

}
nav ul li a{
   font-weight: 600;
   color: black;
   /* font-size:18px; */
}
button{
    display: none;
}
section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    /* align-items: center; */
}
.box-1{
    margin-bottom: 30px;
}

.box-1,.box-2{
    display: flex;
    gap: 30px;
    width: 25%;
   
    /* flex-direction: column; */
}