@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url(layout.css);
body{
    font-family: 'Poppins', sans-serif;
}
header{
    height: 60px;
    border-bottom: 2px solid rgb(164, 163, 163);
}
nav{

    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
justify-content: center;
gap: 50px;
padding:  20px 0;

}
nav ul li a{
   font-weight: 600;
   color: black;
   /* font-size:18px; */
}
.btn{

    position: relative;
}
.hamBtn{
    display: none;
    width: 40px;
    height: 40px;
   position: absolute;
   right: 40px;
   top: 10px;
   font-size: 28px;
}
/* responsive header */
@media  (max-width:576px) {
    nav{
        display: none;
    } 
     .hamBtn{
        display: block;
       
    }
}
/* main */



.item ul li{
    font-size: 14px;
    font-weight: 700;
}
ul li span{
    color: rgb(127, 127, 127);
    font-weight: 500;
}
.card-img{
    padding: 40px 10px;
    background-color: rgb(244, 246, 245);
}
img{
    width: 100%;
padding-top: 30px;
}
.namePrice{
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: 700;
}
.center{
    margin-top: 50px;
}